*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}

.banner{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    background: linear-gradient(-45deg, rgba(211, 84, 0,1.0), rgba(72, 52, 212,1.0), rgba(211, 84, 0,1.0));
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}

@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
h2 {
    margin-left: 20px;
    color: white;
    font-size:large;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
h3 {
    margin-left: 20px;
    color: white;
    font-size: medium;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.borda1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    width: 14%;
    height: 75%;
    border-radius: 50px;
    margin-left: 10%;
    margin-top: 2%;
    text-align: center;
    color: black;
    float:left;
    
}

.borda2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    width: 80%;
    height: 40%;
    border-radius: 50px;
    margin-left: 10%;
    text-align: center;
    color: black;
    margin-top: 42%;
    margin-bottom: 2%;
}

.borda1 h1{
    margin-top: 40px;
    color: white;
    font-size:x-large;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.borda2 h1{
    margin-top: 40px;
    color: white;
    font-size:x-large;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 20px;
    font-weight: bold;
    border: 1px solid #ffffff;
    background: blue;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    -moz-transform: all 0.3s;
    -webkit-transform: all 0.3s;
    transition: all 0.3s;
}

button:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

}

img{
    display: flex;
    align-items: center;

}


.b1{
    margin-top: 20px;
}

button:active {
    background: #41B883;
}

.bt1.active{
    background: #41B883;
}
.bt2.active{
    background: #41B883;
}
.bt3.active{
    background: #41B883;
}
.bt4.active{
    background: #41B883;
}
.bt5.active{
    background: #41B883;
}
.bt6.active{
    background: #41B883;
}
.bt7.active{
    background: #41B883;
}
.bt8.active{
    background: #41B883;
}
.bt9.active{
    background: #41B883;
}
.bt10.active{
    background: #41B883;
}
.bt11.active{
    background: #41B883;
}
.bt12.active{
    background: #41B883;
}
.bt13.active{
    background: #41B883;
}
.bt14.active{
    background: #41B883;
}
.bt15.active{
    background: #41B883;
}
.bt16.active{
    background: #41B883;
}
.bt17.active{
    background: #41B883;
}
.bt18.active{
    background: #41B883;
}
.bt19.active{
    background: #41B883;
}
.bt20.active{
    background: #41B883;
}
.bt21.active{
    background: #41B883;
}
.bt22.active{
    background: #41B883;
}
.bt23.active{
    background: #41B883;
}
.bt24.active{
    background: #41B883;
}
.bt25.active{
    background: #41B883;
}
.bt26.active{
    background: #41B883;
}
.bt27.active{
    background: #41B883;
}
.bt28.active{
    background: #41B883;
}
.bt29.active{
    background: #41B883;
}
.bt30.active{
    background: #41B883;
}
.bt31.active{
    background: #41B883;
}
.bt32.active{
    background: #41B883;
}
.bt33.active{
    background: #41B883;
}
.bt34.active{
    background: #41B883;
}
.bt35.active{
    background: #41B883;
}
.bt36.active{
    background: #41B883;
}
.bt37.active{
    background: #41B883;
}
.bt38.active{
    background: #41B883;
}
.bt39.active{
    background: #41B883;
}
.bt40.active{
    background: #41B883;
}














